{
  "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false
        }
      ],
      "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        "transform-vue-jsx",
        [
          "istanbul",
          {
            "exclude": [
              "**/node_modules/**",
              "**/packages/**",
              "**/test/**",
              "**/Test*"
            ]
          }
        ],
      ]
    }
  },
}
