{
  "env": {
    "commonjs": {
        "presets": [
            [
              "env",
              {
                "modules": "commonjs",
                "loose": true,
                "useBuiltIns": true
              }
            ]
        ],
        "plugins": [
          "transform-runtime",
          "transform-export-extensions",
          "transform-class-properties",
          "transform-object-rest-spread",
          "transform-remove-strict-mode"
        ]
    },
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/node_modules/**",
              "**/packages/**",
              "**/test/**",
              "**/Test*"
            ]
          }
        ],
        "transform-es2015-modules-commonjs",
        "transform-runtime",
        "transform-vue-jsx",
        "transform-export-extensions",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-remove-strict-mode"
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-remove-strict-mode"
  ]
}
